<div class="section-title">
  <h2>Nuestros Clientes</h2>
  <p>Son lo más importante para nosotros</p>
</div>

<div class="owl-carousel clients-carousel">
  <img src="assets/img/propios/clientes/cliente1.png" alt="">
  <img src="assets/img/propios/clientes/cliente2.png" alt="">
  <img src="assets/img/propios/clientes/cliente3.jpg" alt="">
  <img src="assets/img/propios/clientes/cliente4.jpg" alt="">
  <img src="assets/img/propios/clientes/cliente5.png" alt="">
  <img src="assets/img/propios/clientes/cliente6.png" alt="">
  <img src="assets/img/propios/clientes/cliente7.jpg" alt="">
  <img src="assets/img/propios/clientes/cliente8.png" alt="">
  <img src="assets/img/propios/clientes/cliente9.png" alt="">
  <img src="assets/img/propios/clientes/cliente10.png" alt="">
  
</div>
