<div class="container">

  <div class="row">
    <div class="col-lg-4">
      <div class="icon-box">
        <i class="icofont-bullseye"></i>
        <h3><a href="">Bienvenido</a></h3>
        <p>En TNetwork Perú trabajamos con las marcas más reconocidas del mercado en tecnologías de información.</p>
      </div>
    </div>
    <div class="col-lg-4 mt-4 mt-lg-0">
      <div class="icon-box">
        <i class="icofont-people"></i>
        <h3><a href="">Nuestro Equipo</a></h3>
        <p>Contamos con personal ampliamente capacitado y certificado con extensa experiencia en el rubro.</p>
      </div>
    </div>
    <div class="col-lg-4 mt-4 mt-lg-0">
      <div class="icon-box">
        <i class="icofont-briefcase"></i>
        <h3><a href="">Nuestro compromiso</a></h3>
        <p>Tenemos como objetivo la completa satisfacción del cliente. Que lleve a cabo sus proyectos son nuestra principal meta.</p>
      </div>
    </div>
  </div>

</div>