<div class="section-title" data-aos="fade-up">
  <h2>Nuestros Partners</h2>
</div>
<div class="row no-gutters">

  <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch"><div class="count-box">
    <img src="assets/img/propios/partners/partner1.jpg" /></div>
  </div>
  <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch"><div class="count-box">
    <img src="assets/img/propios/partners/partner2.png" /></div>
  </div>
  <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch"><div class="count-box">
    <img src="assets/img/propios/partners/partner3.png" /></div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch"><div class="count-box">
    <img src="assets/img/propios/partners/partner4.jfif" /></div>
  </div>
  <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch"><div class="count-box">
    <img src="assets/img/propios/partners/partner5.png" /></div>
  </div>
  <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch"><div class="count-box">
    <img src="assets/img/propios/partners/partner6.png" /></div>
  </div>
</div>