<div class="section-title" data-aos="fade-up">
  <h2>Nuestros Servicios</h2>
</div>

<div class="row">
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="icon-box">
      <div class="icon"><i class="bx bx-data"></i></div>
      <h4><a href="#">Consultoría en TI</a></h4>
      <p>Le ayudaremos y recomendaremos sobre el uso de las tecnologías de información en su empresa, asesorandolo en sus proyectos más importantes. </p>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
    <div class="icon-box">
      <div class="icon"><i class="bx bxs-server"></i></div>
      <h4><a href="#">Infraestructura de TI</a></h4>
      <p>Le implementaremos íntegramente cualquier infraestructura que necesite. Los recursos corporativos más robustos a su alcance.</p>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
    <div class="icon-box">
      <div class="icon"><i class="bx bxs-bar-char-alt-2"></i></div>
      <h4><a href="#">Sistemas ERP y CRM</a></h4>
      <p>Integre soluciones en sistemas de información para su giro negocio y sus trabajadores.</p>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
    <div class="icon-box">
      <div class="icon"><i class="bx bx-network-chart"></i></div>
      <h4><a href="#">Redes y cableado</a></h4>
      <p>Soluciones en cableado estructurado, fibra óptica, wireless y equipos de red múltiples.</p>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
    <div class="icon-box">
      <div class="icon"><i class="bx bx-desktop"></i></div>
      <h4><a href="#">Licencias de software</a></h4>
      <p>Obtenga lo mejor sobre los tipos de licenciamiento más convenientes para su negocio y de acuerdo a sus posibilidades.</p>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
    <div class="icon-box">
      <div class="icon"><i class="bx bxs-hdd"></i></div>
      <h4><a href="#">Soluciones en Software</a></h4>
      <p>Software para virtualización y sistemas operativos en servidores y terminales. </p>
    </div>
  </div>

  </div>
