<div class="contact-info mr-auto">
  <i class="icofont-envelope"></i><a href="mailto:contacto@tnetwork.pe">ventas@tnetwork.pe</a>
  <i class="icofont-phone"></i> <a href="tel:+5113259972">(+511) 325 - 9972</a>
</div>
<div class="social-links">
  <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
  <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
  <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
  <a href="#" class="skype"><i class="icofont-skype"></i></a>
  <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
</div>