<!DOCTYPE html>
<html lang="es">

<head>
  {% include head.html %}
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex">
      {% include topbar.html %}
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header">
  {% include head.html %}
  </header>
  <!-- End Header -->
  

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">
          {% include slider.html %}
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      {% include featured.html %}
    </section><!-- End Featured Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Quiénes Somos</h2>
        </div>
        <div class="row">
          {% include about.html %}
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
        {% include services.html %}
      </div>
    </section>
    <!-- End Services Section -->

    <section id="partner" class="counts">
      <div class="container">
        {% include partners.html %}
      </div>
    </section>
  
  
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container">
        {% include clients.html %}
      </div>
    </section><!-- End Clients Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          {% include newsletter.html %}
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">
          {% include footer.html %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        {% include copyright.html %}
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  {% include footerjs.html %}

</body>

</html>